@primary-color: #fff;
@secondary-color: #000000;
@error-color: #c43c3c;
@title: 20px;
@subtitle: 16px;
@description: 14px;
@content: 12px;

body {
  font-family: Arial, sans-serif;
  background-color: @primary-color;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  color: @secondary-color;
  text-align: center;
  flex-grow: 1;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

p {
  font-size: @description;
  font-weight: bold;
  color: @secondary-color;
  margin: 0;
}

h2 {
  font-size: @subtitle;
  margin: 0;
}

h3 {
  font-size: @description;
}

.error {
  color: @error-color;
}

label {
  font-size: @content;
}
